In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#Read the csv generated by Anthony which shows power plant locations by county
powerplant_data = "../Output/power_us_comp_df.csv"
powerplant_data_df = pd.read_csv(powerplant_data, encoding="ISO-8859-1")

In [3]:
#Only look at the power plant type and county and state
powerplant_data_df = powerplant_data_df[["primary_fuel", "county", "state"]]
powerplant_data_df = powerplant_data_df.dropna()
powerplant_data_df

     primary_fuel            county           state
0           Solar   Rockland County        New York
1           Solar        Lee County  North Carolina
2           Solar     Yadkin County  North Carolina
3           Solar     Mercer County      New Jersey
4           Solar    Norfolk County   Massachusetts
...           ...               ...             ...
9828        Waste       Lake County        Illinois
9829          Gas  Jefferson County        Kentucky
9830         Wind    Ontario County        New York
9831        Solar    Goodhue County       Minnesota
9832          Gas  Salt Lake County            Utah

[9657 rows x 3 columns]

In [4]:
#Combine the county and state columns into one column
powerplant_data_df = powerplant_data_df[["primary_fuel", "county", "state"]]
powerplant_data_df["county, state"]= powerplant_data_df["county"] + ', ' + powerplant_data_df["state"]
powerplant_data_df

,primary_fuel,county,state,"county, state"
0,Solar,Rockland County,New York,"Rockland County, New York"
1,Solar,Lee County,North Carolina,"Lee County, North Carolina"
2,Solar,Yadkin County,North Carolina,"Yadkin County, North Carolina"
3,Solar,Mercer County,New Jersey,"Mercer County, New Jersey"
4,Solar,Norfolk County,Massachusetts,"Norfolk County, Massachusetts"
...,...,...,...,...
9828,Waste,Lake County,Illinois,"Lake County, Illinois"
9829,Gas,Jefferson County,Kentucky,"Jefferson County, Kentucky"
9830,Wind,Ontario County,New York,"Ontario County, New York"
9831,Solar,Goodhue County,Minnesota,"Goodhue County, Minnesota"
9832,Gas,Salt Lake County,Utah,"Salt Lake County, Utah"

In [5]:
#Ignore all other columns
powerplant_data_df = powerplant_data_df[["county, state", "primary_fuel"]]
powerplant_data_df

                      county, state primary_fuel
0         Rockland County, New York        Solar
1        Lee County, North Carolina        Solar
2     Yadkin County, North Carolina        Solar
3         Mercer County, New Jersey        Solar
4     Norfolk County, Massachusetts        Solar
...                             ...          ...
9828          Lake County, Illinois        Waste
9829     Jefferson County, Kentucky          Gas
9830       Ontario County, New York         Wind
9831      Goodhue County, Minnesota        Solar
9832         Salt Lake County, Utah          Gas

[9657 rows x 2 columns]

In [6]:
#Get a list of all counties in the dataset
counties = powerplant_data_df["county, state"].unique()
counties

array(['Rockland County, New York', 'Lee County, North Carolina',
       'Yadkin County, North Carolina', ..., 'Stephens County, Georgia',
       'York County, Virginia', 'Marshall County, Indiana'], dtype=object)

In [7]:
#Get a list of all fuel types in the data set
fuel_types = powerplant_data_df["primary_fuel"].unique()
fuel_types

array(['Solar', 'Gas', 'Oil', 'Hydro', 'Wind', 'Coal', 'Biomass', 'Waste',
       'Storage', 'Cogeneration', 'Geothermal', 'Petcoke', 'Nuclear',
       'Other'], dtype=object)

In [18]:
#This is INCREDIBLY inefficient code, but it did give us the data we need - I'd like to look through at a more efficient way to do it

#Create a set of empty lists to store the total number of each type of powerplant by county
total_solar = []
total_gas = []
total_oil = []
total_hydro = []
total_wind = []
total_coal = []
total_biomass = []
total_waste = []
total_storage = []
total_cogeneration = []
total_geothermal = []
total_petcoke = []
total_nuclear = []
total_other = []
total = 0

#Run through every county in the list
for county in counties:
    #Set the total number of each plant to zero at the start of each run
    num_solar = 0
    num_gas = 0
    num_oil = 0
    num_hydro = 0
    num_wind = 0
    num_coal = 0
    num_biomass = 0
    num_waste = 0
    num_storage = 0
    num_cogeneration = 0
    num_geothermal = 0
    num_petcoke = 0
    num_nuclear = 0
    num_other = 0
    
    #Run through the whole dataframe
    for index, row in powerplant_data_df.iterrows():
        
        #Look for counties that match the county name in each iteration of the loop
        if (powerplant_data_df.loc[index, "county, state"] == county):
        
            #Check the fuel type for each row and add 1 to the relevant number
            if (powerplant_data_df.loc[index, "primary_fuel"] == "Solar"):
                num_solar= num_solar + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Gas"):
                num_gas = num_gas + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Oil"):
                num_oil = num_oil + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Hydro"):
                num_hydro = num_hydro + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Wind"):
                num_wind = num_wind + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Coal"):
                num_coal = num_coal + 1   
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Biomass"):
                num_biomass = num_biomass + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Waste"):
                num_waste = num_waste + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Storage"):
                num_storage = num_storage + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Cogeneration"):
                num_cogeneration = num_cogeneration + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Geothermal"):
                num_geothermal = num_geothermal + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Petcoke"):
                num_petcoke = num_petcoke + 1 
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Nuclear"):
                num_nuclear = num_nuclear + 1
            elif (powerplant_data_df.loc[index, "primary_fuel"] == "Other"):
                num_other = num_other + 1

    #Store the number of each plant in the list. 
    # This will be in the same order as the counties in counties list
    total_solar.append(num_solar)
    total_gas.append(num_gas)
    total_oil.append(num_oil)
    total_hydro.append(num_hydro)
    total_wind.append(num_wind)
    total_coal.append(num_coal)
    total_biomass.append(num_biomass)
    total_waste.append(num_waste)
    total_storage.append(num_storage)
    total_cogeneration.append(num_cogeneration)
    total_geothermal.append(num_geothermal)
    total_petcoke.append(num_petcoke)
    total_nuclear.append(num_nuclear)
    total_other.append(num_other)
    
    #This code was very slow because I was running through the whole dataframe for each county in the list
    #So I included this to let me know the progress as it ran
    total = total + 1
    print(f"Total complete: {total} out of {len(counties)}")

Total complete: 1 out of 2025
Total complete: 2 out of 2025
Total complete: 3 out of 2025
Total complete: 4 out of 2025
Total complete: 5 out of 2025
Total complete: 6 out of 2025
Total complete: 7 out of 2025
Total complete: 8 out of 2025
Total complete: 9 out of 2025
Total complete: 10 out of 2025
Total complete: 11 out of 2025
Total complete: 12 out of 2025
Total complete: 13 out of 2025
Total complete: 14 out of 2025
Total complete: 15 out of 2025
Total complete: 16 out of 2025
Total complete: 17 out of 2025
Total complete: 18 out of 2025
Total complete: 19 out of 2025
Total complete: 20 out of 2025
Total complete: 21 out of 2025
Total complete: 22 out of 2025
Total complete: 23 out of 2025
Total complete: 24 out of 2025
Total complete: 25 out of 2025
Total complete: 26 out of 2025
Total complete: 27 out of 2025
Total complete: 28 out of 2025
Total complete: 29 out of 2025
Total complete: 30 out of 2025
Total complete: 31 out of 2025
Total complete: 32 out of 2025
Total complete: 33 out of 2025
Total complete: 34 out of 2025
Total complete: 35 out of 2025
Total complete: 36 out of 2025
Total complete: 37 out of 2025
Total complete: 38 out of 2025
Total complete: 39 out of 2025
Total complete: 40 out of 2025
Total complete: 41 out of 2025
Total complete: 42 out of 2025
Total complete: 43 out of 2025
Total complete: 44 out of 2025
Total complete: 45 out of 2025
Total complete: 46 out of 2025
Total complete: 47 out of 2025
Total complete: 48 out of 2025
Total complete: 49 out of 2025
Total complete: 50 out of 2025
Total complete: 51 out of 2025
Total complete: 52 out of 2025
Total complete: 53 out of 2025
Total complete: 54 out of 2025
Total complete: 55 out of 2025
Total complete: 56 out of 2025
Total complete: 57 out of 2025
Total complete: 58 out of 2025
Total complete: 59 out of 2025
Total complete: 60 out of 2025
Total complete: 61 out of 2025
Total complete: 62 out of 2025
Total complete: 63 out of 2025
Total complete: 64 out of 2025
Total complete: 65 out of 2025
Total complete: 66 out of 2025
Total complete: 67 out of 2025
Total complete: 68 out of 2025
Total complete: 69 out of 2025
Total complete: 70 out of 2025
Total complete: 71 out of 2025
Total complete: 72 out of 2025
Total complete: 73 out of 2025
Total complete: 74 out of 2025
Total complete: 75 out of 2025
Total complete: 76 out of 2025
Total complete: 77 out of 2025
Total complete: 78 out of 2025
Total complete: 79 out of 2025
Total complete: 80 out of 2025
Total complete: 81 out of 2025
Total complete: 82 out of 2025
Total complete: 83 out of 2025
Total complete: 84 out of 2025
Total complete: 85 out of 2025
Total complete: 86 out of 2025
Total complete: 87 out of 2025
Total complete: 88 out of 2025
Total complete: 89 out of 2025
Total complete: 90 out of 2025
Total complete: 91 out of 2025
Total complete: 92 out of 2025
Total complete: 93 out of 2025
Total complete: 94 out of 2025
Total complete: 95 out of 2025
Total complete: 96 out of 2025
Total complete: 97 out of 2025
Total complete: 98 out of 2025
Total complete: 99 out of 2025
Total complete: 100 out of 2025
Total complete: 101 out of 2025
Total complete: 102 out of 2025
Total complete: 103 out of 2025
Total complete: 104 out of 2025
Total complete: 105 out of 2025
Total complete: 106 out of 2025
Total complete: 107 out of 2025
Total complete: 108 out of 2025
Total complete: 109 out of 2025
Total complete: 110 out of 2025
Total complete: 111 out of 2025
Total complete: 112 out of 2025
Total complete: 113 out of 2025
Total complete: 114 out of 2025
Total complete: 115 out of 2025
Total complete: 116 out of 2025
Total complete: 117 out of 2025
Total complete: 118 out of 2025
Total complete: 119 out of 2025
Total complete: 120 out of 2025
Total complete: 121 out of 2025
Total complete: 122 out of 2025
Total complete: 123 out of 2025
Total complete: 124 out of 2025
Total complete: 125 out of 2025
Total complete: 126 out of 2025
Total complete: 127 out of 2025
Total complete: 128 out of 2025
Total complete: 129 out of 2025
Total complete: 130 out of 2025
Total complete: 131 out of 2025
Total complete: 132 out of 2025
Total complete: 133 out of 2025
Total complete: 134 out of 2025
Total complete: 135 out of 2025
Total complete: 136 out of 2025
Total complete: 137 out of 2025
Total complete: 138 out of 2025
Total complete: 139 out of 2025
Total complete: 140 out of 2025
Total complete: 141 out of 2025
Total complete: 142 out of 2025
Total complete: 143 out of 2025
Total complete: 144 out of 2025
Total complete: 145 out of 2025
Total complete: 146 out of 2025
Total complete: 147 out of 2025
Total complete: 148 out of 2025
Total complete: 149 out of 2025
Total complete: 150 out of 2025
Total complete: 151 out of 2025
Total complete: 152 out of 2025
Total complete: 153 out of 2025
Total complete: 154 out of 2025
Total complete: 155 out of 2025
Total complete: 156 out of 2025
Total complete: 157 out of 2025
Total complete: 158 out of 2025
Total complete: 159 out of 2025
Total complete: 160 out of 2025
Total complete: 161 out of 2025
Total complete: 162 out of 2025
Total complete: 163 out of 2025
Total complete: 164 out of 2025
Total complete: 165 out of 2025
Total complete: 166 out of 2025
Total complete: 167 out of 2025
Total complete: 168 out of 2025
Total complete: 169 out of 2025
Total complete: 170 out of 2025
Total complete: 171 out of 2025
Total complete: 172 out of 2025
Total complete: 173 out of 2025
Total complete: 174 out of 2025
Total complete: 175 out of 2025
Total complete: 176 out of 2025
Total complete: 177 out of 2025
Total complete: 178 out of 2025
Total complete: 179 out of 2025
Total complete: 180 out of 2025
Total complete: 181 out of 2025
Total complete: 182 out of 2025
Total complete: 183 out of 2025
Total complete: 184 out of 2025
Total complete: 185 out of 2025
Total complete: 186 out of 2025
Total complete: 187 out of 2025
Total complete: 188 out of 2025
Total complete: 189 out of 2025
Total complete: 190 out of 2025
Total complete: 191 out of 2025
Total complete: 192 out of 2025
Total complete: 193 out of 2025
Total complete: 194 out of 2025
Total complete: 195 out of 2025
Total complete: 196 out of 2025
Total complete: 197 out of 2025
Total complete: 198 out of 2025
Total complete: 199 out of 2025
Total complete: 200 out of 2025
Total complete: 201 out of 2025
Total complete: 202 out of 2025
Total complete: 203 out of 2025
Total complete: 204 out of 2025
Total complete: 205 out of 2025
Total complete: 206 out of 2025
Total complete: 207 out of 2025
Total complete: 208 out of 2025
Total complete: 209 out of 2025
Total complete: 210 out of 2025
Total complete: 211 out of 2025
Total complete: 212 out of 2025
Total complete: 213 out of 2025
Total complete: 214 out of 2025
Total complete: 215 out of 2025
Total complete: 216 out of 2025
Total complete: 217 out of 2025
Total complete: 218 out of 2025
Total complete: 219 out of 2025
Total complete: 220 out of 2025
Total complete: 221 out of 2025
Total complete: 222 out of 2025
Total complete: 223 out of 2025
Total complete: 224 out of 2025
Total complete: 225 out of 2025
Total complete: 226 out of 2025
Total complete: 227 out of 2025
Total complete: 228 out of 2025
Total complete: 229 out of 2025
Total complete: 230 out of 2025
Total complete: 231 out of 2025
Total complete: 232 out of 2025
Total complete: 233 out of 2025
Total complete: 234 out of 2025
Total complete: 235 out of 2025
Total complete: 236 out of 2025
Total complete: 237 out of 2025
Total complete: 238 out of 2025
Total complete: 239 out of 2025
Total complete: 240 out of 2025
Total complete: 241 out of 2025
Total complete: 242 out of 2025
Total complete: 243 out of 2025
Total complete: 244 out of 2025
Total complete: 245 out of 2025
Total complete: 246 out of 2025
Total complete: 247 out of 2025
Total complete: 248 out of 2025
Total complete: 249 out of 2025
Total complete: 250 out of 2025
Total complete: 251 out of 2025
Total complete: 252 out of 2025
Total complete: 253 out of 2025
Total complete: 254 out of 2025
Total complete: 255 out of 2025
Total complete: 256 out of 2025
Total complete: 257 out of 2025
Total complete: 258 out of 2025
Total complete: 259 out of 2025
Total complete: 260 out of 2025

Total complete: 261 out of 2025
Total complete: 262 out of 2025
Total complete: 263 out of 2025
Total complete: 264 out of 2025
Total complete: 265 out of 2025
Total complete: 266 out of 2025
Total complete: 267 out of 2025
Total complete: 268 out of 2025
Total complete: 269 out of 2025
Total complete: 270 out of 2025
Total complete: 271 out of 2025
Total complete: 272 out of 2025
Total complete: 273 out of 2025
Total complete: 274 out of 2025
Total complete: 275 out of 2025
Total complete: 276 out of 2025
Total complete: 277 out of 2025
Total complete: 278 out of 2025
Total complete: 279 out of 2025
Total complete: 280 out of 2025
Total complete: 281 out of 2025
Total complete: 282 out of 2025
Total complete: 283 out of 2025
Total complete: 284 out of 2025
Total complete: 285 out of 2025
Total complete: 286 out of 2025
Total complete: 287 out of 2025
Total complete: 288 out of 2025
Total complete: 289 out of 2025
Total complete: 290 out of 2025
Total complete: 291 out of 2025
Total complete: 292 out of 2025
Total complete: 293 out of 2025
Total complete: 294 out of 2025
Total complete: 295 out of 2025
Total complete: 296 out of 2025
Total complete: 297 out of 2025
Total complete: 298 out of 2025
Total complete: 299 out of 2025
Total complete: 300 out of 2025
Total complete: 301 out of 2025
Total complete: 302 out of 2025
Total complete: 303 out of 2025
Total complete: 304 out of 2025
Total complete: 305 out of 2025
Total complete: 306 out of 2025
Total complete: 307 out of 2025
Total complete: 308 out of 2025
Total complete: 309 out of 2025
Total complete: 310 out of 2025
Total complete: 311 out of 2025
Total complete: 312 out of 2025
Total complete: 313 out of 2025
Total complete: 314 out of 2025
Total complete: 315 out of 2025
Total complete: 316 out of 2025
Total complete: 317 out of 2025
Total complete: 318 out of 2025
Total complete: 319 out of 2025
Total complete: 320 out of 2025
Total complete: 321 out of 2025
Total complete: 322 out of 2025
Total complete: 323 out of 2025
Total complete: 324 out of 2025
Total complete: 325 out of 2025
Total complete: 326 out of 2025
Total complete: 327 out of 2025
Total complete: 328 out of 2025
Total complete: 329 out of 2025
Total complete: 330 out of 2025
Total complete: 331 out of 2025
Total complete: 332 out of 2025
Total complete: 333 out of 2025
Total complete: 334 out of 2025
Total complete: 335 out of 2025
Total complete: 336 out of 2025
Total complete: 337 out of 2025
Total complete: 338 out of 2025
Total complete: 339 out of 2025
Total complete: 340 out of 2025
Total complete: 341 out of 2025
Total complete: 342 out of 2025
Total complete: 343 out of 2025
Total complete: 344 out of 2025
Total complete: 345 out of 2025
Total complete: 346 out of 2025
Total complete: 347 out of 2025
Total complete: 348 out of 2025
Total complete: 349 out of 2025
Total complete: 350 out of 2025
Total complete: 351 out of 2025
Total complete: 352 out of 2025
Total complete: 353 out of 2025
Total complete: 354 out of 2025
Total complete: 355 out of 2025
Total complete: 356 out of 2025
Total complete: 357 out of 2025
Total complete: 358 out of 2025
Total complete: 359 out of 2025
Total complete: 360 out of 2025
Total complete: 361 out of 2025
Total complete: 362 out of 2025
Total complete: 363 out of 2025
Total complete: 364 out of 2025
Total complete: 365 out of 2025
Total complete: 366 out of 2025
Total complete: 367 out of 2025
Total complete: 368 out of 2025
Total complete: 369 out of 2025
Total complete: 370 out of 2025
Total complete: 371 out of 2025
Total complete: 372 out of 2025
Total complete: 373 out of 2025
Total complete: 374 out of 2025
Total complete: 375 out of 2025
Total complete: 376 out of 2025
Total complete: 377 out of 2025
Total complete: 378 out of 2025
Total complete: 379 out of 2025
Total complete: 380 out of 2025
Total complete: 381 out of 2025
Total complete: 382 out of 2025
Total complete: 383 out of 2025
Total complete: 384 out of 2025
Total complete: 385 out of 2025
Total complete: 386 out of 2025
Total complete: 387 out of 2025
Total complete: 388 out of 2025
Total complete: 389 out of 2025
Total complete: 390 out of 2025
Total complete: 391 out of 2025
Total complete: 392 out of 2025
Total complete: 393 out of 2025
Total complete: 394 out of 2025
Total complete: 395 out of 2025
Total complete: 396 out of 2025
Total complete: 397 out of 2025
Total complete: 398 out of 2025
Total complete: 399 out of 2025
Total complete: 400 out of 2025
Total complete: 401 out of 2025
Total complete: 402 out of 2025
Total complete: 403 out of 2025
Total complete: 404 out of 2025
Total complete: 405 out of 2025
Total complete: 406 out of 2025
Total complete: 407 out of 2025
Total complete: 408 out of 2025
Total complete: 409 out of 2025
Total complete: 410 out of 2025
Total complete: 411 out of 2025
Total complete: 412 out of 2025
Total complete: 413 out of 2025
Total complete: 414 out of 2025
Total complete: 415 out of 2025
Total complete: 416 out of 2025
Total complete: 417 out of 2025
Total complete: 418 out of 2025
Total complete: 419 out of 2025
Total complete: 420 out of 2025
Total complete: 421 out of 2025
Total complete: 422 out of 2025
Total complete: 423 out of 2025
Total complete: 424 out of 2025
Total complete: 425 out of 2025
Total complete: 426 out of 2025
Total complete: 427 out of 2025
Total complete: 428 out of 2025
Total complete: 429 out of 2025
Total complete: 430 out of 2025
Total complete: 431 out of 2025
Total complete: 432 out of 2025
Total complete: 433 out of 2025
Total complete: 434 out of 2025
Total complete: 435 out of 2025
Total complete: 436 out of 2025
Total complete: 437 out of 2025
Total complete: 438 out of 2025
Total complete: 439 out of 2025
Total complete: 440 out of 2025
Total complete: 441 out of 2025
Total complete: 442 out of 2025
Total complete: 443 out of 2025
Total complete: 444 out of 2025
Total complete: 445 out of 2025
Total complete: 446 out of 2025
Total complete: 447 out of 2025
Total complete: 448 out of 2025
Total complete: 449 out of 2025
Total complete: 450 out of 2025
Total complete: 451 out of 2025
Total complete: 452 out of 2025
Total complete: 453 out of 2025
Total complete: 454 out of 2025
Total complete: 455 out of 2025
Total complete: 456 out of 2025
Total complete: 457 out of 2025
Total complete: 458 out of 2025
Total complete: 459 out of 2025
Total complete: 460 out of 2025
Total complete: 461 out of 2025
Total complete: 462 out of 2025
Total complete: 463 out of 2025
Total complete: 464 out of 2025
Total complete: 465 out of 2025
Total complete: 466 out of 2025
Total complete: 467 out of 2025
Total complete: 468 out of 2025
Total complete: 469 out of 2025
Total complete: 470 out of 2025
Total complete: 471 out of 2025
Total complete: 472 out of 2025
Total complete: 473 out of 2025
Total complete: 474 out of 2025
Total complete: 475 out of 2025
Total complete: 476 out of 2025
Total complete: 477 out of 2025
Total complete: 478 out of 2025
Total complete: 479 out of 2025
Total complete: 480 out of 2025
Total complete: 481 out of 2025
Total complete: 482 out of 2025
Total complete: 483 out of 2025
Total complete: 484 out of 2025
Total complete: 485 out of 2025
Total complete: 486 out of 2025
Total complete: 487 out of 2025
Total complete: 488 out of 2025
Total complete: 489 out of 2025
Total complete: 490 out of 2025
Total complete: 491 out of 2025
Total complete: 492 out of 2025
Total complete: 493 out of 2025
Total complete: 494 out of 2025
Total complete: 495 out of 2025
Total complete: 496 out of 2025
Total complete: 497 out of 2025
Total complete: 498 out of 2025
Total complete: 499 out of 2025
Total complete: 500 out of 2025
Total complete: 501 out of 2025
Total complete: 502 out of 2025
Total complete: 503 out of 2025
Total complete: 504 out of 2025
Total complete: 505 out of 2025
Total complete: 506 out of 2025
Total complete: 507 out of 2025
Total complete: 508 out of 2025
Total complete: 509 out of 2025
Total complete: 510 out of 2025
Total complete: 511 out of 2025
Total complete: 512 out of 2025
Total complete: 513 out of 2025
Total complete: 514 out of 2025
Total complete: 515 out of 2025
Total complete: 516 out of 2025
Total complete: 517 out of 2025

Total complete: 518 out of 2025
Total complete: 519 out of 2025
Total complete: 520 out of 2025
Total complete: 521 out of 2025
Total complete: 522 out of 2025
Total complete: 523 out of 2025
Total complete: 524 out of 2025
Total complete: 525 out of 2025
Total complete: 526 out of 2025
Total complete: 527 out of 2025
Total complete: 528 out of 2025
Total complete: 529 out of 2025
Total complete: 530 out of 2025
Total complete: 531 out of 2025
Total complete: 532 out of 2025
Total complete: 533 out of 2025
Total complete: 534 out of 2025
Total complete: 535 out of 2025
Total complete: 536 out of 2025
Total complete: 537 out of 2025
Total complete: 538 out of 2025
Total complete: 539 out of 2025
Total complete: 540 out of 2025
Total complete: 541 out of 2025
Total complete: 542 out of 2025
Total complete: 543 out of 2025
Total complete: 544 out of 2025
Total complete: 545 out of 2025
Total complete: 546 out of 2025
Total complete: 547 out of 2025
Total complete: 548 out of 2025
Total complete: 549 out of 2025
Total complete: 550 out of 2025
Total complete: 551 out of 2025
Total complete: 552 out of 2025
Total complete: 553 out of 2025
Total complete: 554 out of 2025
Total complete: 555 out of 2025
Total complete: 556 out of 2025
Total complete: 557 out of 2025
Total complete: 558 out of 2025
Total complete: 559 out of 2025
Total complete: 560 out of 2025
Total complete: 561 out of 2025
Total complete: 562 out of 2025
Total complete: 563 out of 2025
Total complete: 564 out of 2025
Total complete: 565 out of 2025
Total complete: 566 out of 2025
Total complete: 567 out of 2025
Total complete: 568 out of 2025
Total complete: 569 out of 2025
Total complete: 570 out of 2025
Total complete: 571 out of 2025
Total complete: 572 out of 2025
Total complete: 573 out of 2025
Total complete: 574 out of 2025
Total complete: 575 out of 2025
Total complete: 576 out of 2025
Total complete: 577 out of 2025
Total complete: 578 out of 2025
Total complete: 579 out of 2025
Total complete: 580 out of 2025
Total complete: 581 out of 2025
Total complete: 582 out of 2025
Total complete: 583 out of 2025
Total complete: 584 out of 2025
Total complete: 585 out of 2025
Total complete: 586 out of 2025
Total complete: 587 out of 2025
Total complete: 588 out of 2025
Total complete: 589 out of 2025
Total complete: 590 out of 2025
Total complete: 591 out of 2025
Total complete: 592 out of 2025
Total complete: 593 out of 2025
Total complete: 594 out of 2025
Total complete: 595 out of 2025
Total complete: 596 out of 2025
Total complete: 597 out of 2025
Total complete: 598 out of 2025
Total complete: 599 out of 2025
Total complete: 600 out of 2025
Total complete: 601 out of 2025
Total complete: 602 out of 2025
Total complete: 603 out of 2025
Total complete: 604 out of 2025
Total complete: 605 out of 2025
Total complete: 606 out of 2025
Total complete: 607 out of 2025
Total complete: 608 out of 2025
Total complete: 609 out of 2025
Total complete: 610 out of 2025
Total complete: 611 out of 2025
Total complete: 612 out of 2025
Total complete: 613 out of 2025
Total complete: 614 out of 2025
Total complete: 615 out of 2025
Total complete: 616 out of 2025
Total complete: 617 out of 2025
Total complete: 618 out of 2025
Total complete: 619 out of 2025
Total complete: 620 out of 2025
Total complete: 621 out of 2025
Total complete: 622 out of 2025
Total complete: 623 out of 2025
Total complete: 624 out of 2025
Total complete: 625 out of 2025
Total complete: 626 out of 2025
Total complete: 627 out of 2025
Total complete: 628 out of 2025
Total complete: 629 out of 2025
Total complete: 630 out of 2025
Total complete: 631 out of 2025
Total complete: 632 out of 2025
Total complete: 633 out of 2025
Total complete: 634 out of 2025
Total complete: 635 out of 2025
Total complete: 636 out of 2025
Total complete: 637 out of 2025
Total complete: 638 out of 2025
Total complete: 639 out of 2025
Total complete: 640 out of 2025
Total complete: 641 out of 2025
Total complete: 642 out of 2025
Total complete: 643 out of 2025
Total complete: 644 out of 2025
Total complete: 645 out of 2025
Total complete: 646 out of 2025
Total complete: 647 out of 2025
Total complete: 648 out of 2025
Total complete: 649 out of 2025
Total complete: 650 out of 2025
Total complete: 651 out of 2025
Total complete: 652 out of 2025
Total complete: 653 out of 2025
Total complete: 654 out of 2025
Total complete: 655 out of 2025
Total complete: 656 out of 2025
Total complete: 657 out of 2025
Total complete: 658 out of 2025
Total complete: 659 out of 2025
Total complete: 660 out of 2025
Total complete: 661 out of 2025
Total complete: 662 out of 2025
Total complete: 663 out of 2025
Total complete: 664 out of 2025
Total complete: 665 out of 2025
Total complete: 666 out of 2025
Total complete: 667 out of 2025
Total complete: 668 out of 2025
Total complete: 669 out of 2025
Total complete: 670 out of 2025
Total complete: 671 out of 2025
Total complete: 672 out of 2025
Total complete: 673 out of 2025
Total complete: 674 out of 2025
Total complete: 675 out of 2025
Total complete: 676 out of 2025
Total complete: 677 out of 2025
Total complete: 678 out of 2025
Total complete: 679 out of 2025
Total complete: 680 out of 2025
Total complete: 681 out of 2025
Total complete: 682 out of 2025
Total complete: 683 out of 2025
Total complete: 684 out of 2025
Total complete: 685 out of 2025
Total complete: 686 out of 2025
Total complete: 687 out of 2025
Total complete: 688 out of 2025
Total complete: 689 out of 2025
Total complete: 690 out of 2025
Total complete: 691 out of 2025
Total complete: 692 out of 2025
Total complete: 693 out of 2025
Total complete: 694 out of 2025
Total complete: 695 out of 2025
Total complete: 696 out of 2025
Total complete: 697 out of 2025
Total complete: 698 out of 2025
Total complete: 699 out of 2025
Total complete: 700 out of 2025
Total complete: 701 out of 2025
Total complete: 702 out of 2025
Total complete: 703 out of 2025
Total complete: 704 out of 2025
Total complete: 705 out of 2025
Total complete: 706 out of 2025
Total complete: 707 out of 2025
Total complete: 708 out of 2025
Total complete: 709 out of 2025
Total complete: 710 out of 2025
Total complete: 711 out of 2025
Total complete: 712 out of 2025
Total complete: 713 out of 2025
Total complete: 714 out of 2025
Total complete: 715 out of 2025
Total complete: 716 out of 2025
Total complete: 717 out of 2025
Total complete: 718 out of 2025
Total complete: 719 out of 2025
Total complete: 720 out of 2025
Total complete: 721 out of 2025
Total complete: 722 out of 2025
Total complete: 723 out of 2025
Total complete: 724 out of 2025
Total complete: 725 out of 2025
Total complete: 726 out of 2025
Total complete: 727 out of 2025
Total complete: 728 out of 2025
Total complete: 729 out of 2025
Total complete: 730 out of 2025
Total complete: 731 out of 2025
Total complete: 732 out of 2025
Total complete: 733 out of 2025
Total complete: 734 out of 2025
Total complete: 735 out of 2025
Total complete: 736 out of 2025
Total complete: 737 out of 2025
Total complete: 738 out of 2025
Total complete: 739 out of 2025
Total complete: 740 out of 2025
Total complete: 741 out of 2025
Total complete: 742 out of 2025
Total complete: 743 out of 2025
Total complete: 744 out of 2025
Total complete: 745 out of 2025
Total complete: 746 out of 2025
Total complete: 747 out of 2025
Total complete: 748 out of 2025
Total complete: 749 out of 2025
Total complete: 750 out of 2025
Total complete: 751 out of 2025
Total complete: 752 out of 2025
Total complete: 753 out of 2025
Total complete: 754 out of 2025
Total complete: 755 out of 2025
Total complete: 756 out of 2025
Total complete: 757 out of 2025
Total complete: 758 out of 2025
Total complete: 759 out of 2025
Total complete: 760 out of 2025
Total complete: 761 out of 2025
Total complete: 762 out of 2025
Total complete: 763 out of 2025
Total complete: 764 out of 2025
Total complete: 765 out of 2025
Total complete: 766 out of 2025
Total complete: 767 out of 2025
Total complete: 768 out of 2025
Total complete: 769 out of 2025
Total complete: 770 out of 2025
Total complete: 771 out of 2025
Total complete: 772 out of 2025
Total complete: 773 out of 2025
Total complete: 774 out of 2025

Total complete: 775 out of 2025
Total complete: 776 out of 2025
Total complete: 777 out of 2025
Total complete: 778 out of 2025
Total complete: 779 out of 2025
Total complete: 780 out of 2025
Total complete: 781 out of 2025
Total complete: 782 out of 2025
Total complete: 783 out of 2025
Total complete: 784 out of 2025
Total complete: 785 out of 2025
Total complete: 786 out of 2025
Total complete: 787 out of 2025
Total complete: 788 out of 2025
Total complete: 789 out of 2025
Total complete: 790 out of 2025
Total complete: 791 out of 2025
Total complete: 792 out of 2025
Total complete: 793 out of 2025
Total complete: 794 out of 2025
Total complete: 795 out of 2025
Total complete: 796 out of 2025
Total complete: 797 out of 2025
Total complete: 798 out of 2025
Total complete: 799 out of 2025
Total complete: 800 out of 2025
Total complete: 801 out of 2025
Total complete: 802 out of 2025
Total complete: 803 out of 2025
Total complete: 804 out of 2025
Total complete: 805 out of 2025
Total complete: 806 out of 2025
Total complete: 807 out of 2025
Total complete: 808 out of 2025
Total complete: 809 out of 2025
Total complete: 810 out of 2025
Total complete: 811 out of 2025
Total complete: 812 out of 2025
Total complete: 813 out of 2025
Total complete: 814 out of 2025
Total complete: 815 out of 2025
Total complete: 816 out of 2025
Total complete: 817 out of 2025
Total complete: 818 out of 2025
Total complete: 819 out of 2025
Total complete: 820 out of 2025
Total complete: 821 out of 2025
Total complete: 822 out of 2025
Total complete: 823 out of 2025
Total complete: 824 out of 2025
Total complete: 825 out of 2025
Total complete: 826 out of 2025
Total complete: 827 out of 2025
Total complete: 828 out of 2025
Total complete: 829 out of 2025
Total complete: 830 out of 2025
Total complete: 831 out of 2025
Total complete: 832 out of 2025
Total complete: 833 out of 2025
Total complete: 834 out of 2025
Total complete: 835 out of 2025
Total complete: 836 out of 2025
Total complete: 837 out of 2025
Total complete: 838 out of 2025
Total complete: 839 out of 2025
Total complete: 840 out of 2025
Total complete: 841 out of 2025
Total complete: 842 out of 2025
Total complete: 843 out of 2025
Total complete: 844 out of 2025
Total complete: 845 out of 2025
Total complete: 846 out of 2025
Total complete: 847 out of 2025
Total complete: 848 out of 2025
Total complete: 849 out of 2025
Total complete: 850 out of 2025
Total complete: 851 out of 2025
Total complete: 852 out of 2025
Total complete: 853 out of 2025
Total complete: 854 out of 2025
Total complete: 855 out of 2025
Total complete: 856 out of 2025
Total complete: 857 out of 2025
Total complete: 858 out of 2025
Total complete: 859 out of 2025
Total complete: 860 out of 2025
Total complete: 861 out of 2025
Total complete: 862 out of 2025
Total complete: 863 out of 2025
Total complete: 864 out of 2025
Total complete: 865 out of 2025
Total complete: 866 out of 2025
Total complete: 867 out of 2025
Total complete: 868 out of 2025
Total complete: 869 out of 2025
Total complete: 870 out of 2025
Total complete: 871 out of 2025
Total complete: 872 out of 2025
Total complete: 873 out of 2025
Total complete: 874 out of 2025
Total complete: 875 out of 2025
Total complete: 876 out of 2025
Total complete: 877 out of 2025
Total complete: 878 out of 2025
Total complete: 879 out of 2025
Total complete: 880 out of 2025
Total complete: 881 out of 2025
Total complete: 882 out of 2025
Total complete: 883 out of 2025
Total complete: 884 out of 2025
Total complete: 885 out of 2025
Total complete: 886 out of 2025
Total complete: 887 out of 2025
Total complete: 888 out of 2025
Total complete: 889 out of 2025
Total complete: 890 out of 2025
Total complete: 891 out of 2025
Total complete: 892 out of 2025
Total complete: 893 out of 2025
Total complete: 894 out of 2025
Total complete: 895 out of 2025
Total complete: 896 out of 2025
Total complete: 897 out of 2025
Total complete: 898 out of 2025
Total complete: 899 out of 2025
Total complete: 900 out of 2025
Total complete: 901 out of 2025
Total complete: 902 out of 2025
Total complete: 903 out of 2025
Total complete: 904 out of 2025
Total complete: 905 out of 2025
Total complete: 906 out of 2025
Total complete: 907 out of 2025
Total complete: 908 out of 2025
Total complete: 909 out of 2025
Total complete: 910 out of 2025
Total complete: 911 out of 2025
Total complete: 912 out of 2025
Total complete: 913 out of 2025
Total complete: 914 out of 2025
Total complete: 915 out of 2025
Total complete: 916 out of 2025
Total complete: 917 out of 2025
Total complete: 918 out of 2025
Total complete: 919 out of 2025
Total complete: 920 out of 2025
Total complete: 921 out of 2025
Total complete: 922 out of 2025
Total complete: 923 out of 2025
Total complete: 924 out of 2025
Total complete: 925 out of 2025
Total complete: 926 out of 2025
Total complete: 927 out of 2025
Total complete: 928 out of 2025
Total complete: 929 out of 2025
Total complete: 930 out of 2025
Total complete: 931 out of 2025
Total complete: 932 out of 2025
Total complete: 933 out of 2025
Total complete: 934 out of 2025
Total complete: 935 out of 2025
Total complete: 936 out of 2025
Total complete: 937 out of 2025
Total complete: 938 out of 2025
Total complete: 939 out of 2025
Total complete: 940 out of 2025
Total complete: 941 out of 2025
Total complete: 942 out of 2025
Total complete: 943 out of 2025
Total complete: 944 out of 2025
Total complete: 945 out of 2025
Total complete: 946 out of 2025
Total complete: 947 out of 2025
Total complete: 948 out of 2025
Total complete: 949 out of 2025
Total complete: 950 out of 2025
Total complete: 951 out of 2025
Total complete: 952 out of 2025
Total complete: 953 out of 2025
Total complete: 954 out of 2025
Total complete: 955 out of 2025
Total complete: 956 out of 2025
Total complete: 957 out of 2025
Total complete: 958 out of 2025
Total complete: 959 out of 2025
Total complete: 960 out of 2025
Total complete: 961 out of 2025
Total complete: 962 out of 2025
Total complete: 963 out of 2025
Total complete: 964 out of 2025
Total complete: 965 out of 2025
Total complete: 966 out of 2025
Total complete: 967 out of 2025
Total complete: 968 out of 2025
Total complete: 969 out of 2025
Total complete: 970 out of 2025
Total complete: 971 out of 2025
Total complete: 972 out of 2025
Total complete: 973 out of 2025
Total complete: 974 out of 2025
Total complete: 975 out of 2025
Total complete: 976 out of 2025
Total complete: 977 out of 2025
Total complete: 978 out of 2025
Total complete: 979 out of 2025
Total complete: 980 out of 2025
Total complete: 981 out of 2025
Total complete: 982 out of 2025
Total complete: 983 out of 2025
Total complete: 984 out of 2025
Total complete: 985 out of 2025
Total complete: 986 out of 2025
Total complete: 987 out of 2025
Total complete: 988 out of 2025
Total complete: 989 out of 2025
Total complete: 990 out of 2025
Total complete: 991 out of 2025
Total complete: 992 out of 2025
Total complete: 993 out of 2025
Total complete: 994 out of 2025
Total complete: 995 out of 2025
Total complete: 996 out of 2025
Total complete: 997 out of 2025
Total complete: 998 out of 2025
Total complete: 999 out of 2025
Total complete: 1000 out of 2025
Total complete: 1001 out of 2025
Total complete: 1002 out of 2025
Total complete: 1003 out of 2025
Total complete: 1004 out of 2025
Total complete: 1005 out of 2025
Total complete: 1006 out of 2025
Total complete: 1007 out of 2025
Total complete: 1008 out of 2025
Total complete: 1009 out of 2025
Total complete: 1010 out of 2025
Total complete: 1011 out of 2025
Total complete: 1012 out of 2025
Total complete: 1013 out of 2025
Total complete: 1014 out of 2025
Total complete: 1015 out of 2025
Total complete: 1016 out of 2025
Total complete: 1017 out of 2025
Total complete: 1018 out of 2025
Total complete: 1019 out of 2025
Total complete: 1020 out of 2025
Total complete: 1021 out of 2025
Total complete: 1022 out of 2025
Total complete: 1023 out of 2025
Total complete: 1024 out of 2025
Total complete: 1025 out of 2025
Total complete: 1026 out of 2025
Total complete: 1027 out of 2025
Total complete: 1028 out of 2025
Total complete: 1029 out of 2025
Total complete: 1030 out of 2025

Total complete: 1031 out of 2025
Total complete: 1032 out of 2025
Total complete: 1033 out of 2025
Total complete: 1034 out of 2025
Total complete: 1035 out of 2025
Total complete: 1036 out of 2025
Total complete: 1037 out of 2025
Total complete: 1038 out of 2025
Total complete: 1039 out of 2025
Total complete: 1040 out of 2025
Total complete: 1041 out of 2025
Total complete: 1042 out of 2025
Total complete: 1043 out of 2025
Total complete: 1044 out of 2025
Total complete: 1045 out of 2025
Total complete: 1046 out of 2025
Total complete: 1047 out of 2025
Total complete: 1048 out of 2025
Total complete: 1049 out of 2025
Total complete: 1050 out of 2025
Total complete: 1051 out of 2025
Total complete: 1052 out of 2025
Total complete: 1053 out of 2025
Total complete: 1054 out of 2025
Total complete: 1055 out of 2025
Total complete: 1056 out of 2025
Total complete: 1057 out of 2025
Total complete: 1058 out of 2025
Total complete: 1059 out of 2025
Total complete: 1060 out of 2025
Total complete: 1061 out of 2025
Total complete: 1062 out of 2025
Total complete: 1063 out of 2025
Total complete: 1064 out of 2025
Total complete: 1065 out of 2025
Total complete: 1066 out of 2025
Total complete: 1067 out of 2025
Total complete: 1068 out of 2025
Total complete: 1069 out of 2025
Total complete: 1070 out of 2025
Total complete: 1071 out of 2025
Total complete: 1072 out of 2025
Total complete: 1073 out of 2025
Total complete: 1074 out of 2025
Total complete: 1075 out of 2025
Total complete: 1076 out of 2025
Total complete: 1077 out of 2025
Total complete: 1078 out of 2025
Total complete: 1079 out of 2025
Total complete: 1080 out of 2025
Total complete: 1081 out of 2025
Total complete: 1082 out of 2025
Total complete: 1083 out of 2025
Total complete: 1084 out of 2025
Total complete: 1085 out of 2025
Total complete: 1086 out of 2025
Total complete: 1087 out of 2025
Total complete: 1088 out of 2025
Total complete: 1089 out of 2025
Total complete: 1090 out of 2025
Total complete: 1091 out of 2025
Total complete: 1092 out of 2025
Total complete: 1093 out of 2025
Total complete: 1094 out of 2025
Total complete: 1095 out of 2025
Total complete: 1096 out of 2025
Total complete: 1097 out of 2025
Total complete: 1098 out of 2025
Total complete: 1099 out of 2025
Total complete: 1100 out of 2025
Total complete: 1101 out of 2025
Total complete: 1102 out of 2025
Total complete: 1103 out of 2025
Total complete: 1104 out of 2025
Total complete: 1105 out of 2025
Total complete: 1106 out of 2025
Total complete: 1107 out of 2025
Total complete: 1108 out of 2025
Total complete: 1109 out of 2025
Total complete: 1110 out of 2025
Total complete: 1111 out of 2025
Total complete: 1112 out of 2025
Total complete: 1113 out of 2025
Total complete: 1114 out of 2025
Total complete: 1115 out of 2025
Total complete: 1116 out of 2025
Total complete: 1117 out of 2025
Total complete: 1118 out of 2025
Total complete: 1119 out of 2025
Total complete: 1120 out of 2025
Total complete: 1121 out of 2025
Total complete: 1122 out of 2025
Total complete: 1123 out of 2025
Total complete: 1124 out of 2025
Total complete: 1125 out of 2025
Total complete: 1126 out of 2025
Total complete: 1127 out of 2025
Total complete: 1128 out of 2025
Total complete: 1129 out of 2025
Total complete: 1130 out of 2025
Total complete: 1131 out of 2025
Total complete: 1132 out of 2025
Total complete: 1133 out of 2025
Total complete: 1134 out of 2025
Total complete: 1135 out of 2025
Total complete: 1136 out of 2025
Total complete: 1137 out of 2025
Total complete: 1138 out of 2025
Total complete: 1139 out of 2025
Total complete: 1140 out of 2025
Total complete: 1141 out of 2025
Total complete: 1142 out of 2025
Total complete: 1143 out of 2025
Total complete: 1144 out of 2025
Total complete: 1145 out of 2025
Total complete: 1146 out of 2025
Total complete: 1147 out of 2025
Total complete: 1148 out of 2025
Total complete: 1149 out of 2025
Total complete: 1150 out of 2025
Total complete: 1151 out of 2025
Total complete: 1152 out of 2025
Total complete: 1153 out of 2025
Total complete: 1154 out of 2025
Total complete: 1155 out of 2025
Total complete: 1156 out of 2025
Total complete: 1157 out of 2025
Total complete: 1158 out of 2025
Total complete: 1159 out of 2025
Total complete: 1160 out of 2025
Total complete: 1161 out of 2025
Total complete: 1162 out of 2025
Total complete: 1163 out of 2025
Total complete: 1164 out of 2025
Total complete: 1165 out of 2025
Total complete: 1166 out of 2025
Total complete: 1167 out of 2025
Total complete: 1168 out of 2025
Total complete: 1169 out of 2025
Total complete: 1170 out of 2025
Total complete: 1171 out of 2025
Total complete: 1172 out of 2025
Total complete: 1173 out of 2025
Total complete: 1174 out of 2025
Total complete: 1175 out of 2025
Total complete: 1176 out of 2025
Total complete: 1177 out of 2025
Total complete: 1178 out of 2025
Total complete: 1179 out of 2025
Total complete: 1180 out of 2025
Total complete: 1181 out of 2025
Total complete: 1182 out of 2025
Total complete: 1183 out of 2025
Total complete: 1184 out of 2025
Total complete: 1185 out of 2025
Total complete: 1186 out of 2025
Total complete: 1187 out of 2025
Total complete: 1188 out of 2025
Total complete: 1189 out of 2025
Total complete: 1190 out of 2025
Total complete: 1191 out of 2025
Total complete: 1192 out of 2025
Total complete: 1193 out of 2025
Total complete: 1194 out of 2025
Total complete: 1195 out of 2025
Total complete: 1196 out of 2025
Total complete: 1197 out of 2025
Total complete: 1198 out of 2025
Total complete: 1199 out of 2025
Total complete: 1200 out of 2025
Total complete: 1201 out of 2025
Total complete: 1202 out of 2025
Total complete: 1203 out of 2025
Total complete: 1204 out of 2025
Total complete: 1205 out of 2025
Total complete: 1206 out of 2025
Total complete: 1207 out of 2025
Total complete: 1208 out of 2025
Total complete: 1209 out of 2025
Total complete: 1210 out of 2025
Total complete: 1211 out of 2025
Total complete: 1212 out of 2025
Total complete: 1213 out of 2025
Total complete: 1214 out of 2025
Total complete: 1215 out of 2025
Total complete: 1216 out of 2025
Total complete: 1217 out of 2025
Total complete: 1218 out of 2025
Total complete: 1219 out of 2025
Total complete: 1220 out of 2025
Total complete: 1221 out of 2025
Total complete: 1222 out of 2025
Total complete: 1223 out of 2025
Total complete: 1224 out of 2025
Total complete: 1225 out of 2025
Total complete: 1226 out of 2025
Total complete: 1227 out of 2025
Total complete: 1228 out of 2025
Total complete: 1229 out of 2025
Total complete: 1230 out of 2025
Total complete: 1231 out of 2025
Total complete: 1232 out of 2025
Total complete: 1233 out of 2025
Total complete: 1234 out of 2025
Total complete: 1235 out of 2025
Total complete: 1236 out of 2025
Total complete: 1237 out of 2025
Total complete: 1238 out of 2025
Total complete: 1239 out of 2025
Total complete: 1240 out of 2025
Total complete: 1241 out of 2025
Total complete: 1242 out of 2025
Total complete: 1243 out of 2025
Total complete: 1244 out of 2025
Total complete: 1245 out of 2025
Total complete: 1246 out of 2025
Total complete: 1247 out of 2025
Total complete: 1248 out of 2025
Total complete: 1249 out of 2025
Total complete: 1250 out of 2025
Total complete: 1251 out of 2025
Total complete: 1252 out of 2025
Total complete: 1253 out of 2025
Total complete: 1254 out of 2025
Total complete: 1255 out of 2025
Total complete: 1256 out of 2025
Total complete: 1257 out of 2025
Total complete: 1258 out of 2025
Total complete: 1259 out of 2025
Total complete: 1260 out of 2025
Total complete: 1261 out of 2025
Total complete: 1262 out of 2025
Total complete: 1263 out of 2025
Total complete: 1264 out of 2025
Total complete: 1265 out of 2025
Total complete: 1266 out of 2025
Total complete: 1267 out of 2025
Total complete: 1268 out of 2025
Total complete: 1269 out of 2025
Total complete: 1270 out of 2025
Total complete: 1271 out of 2025
Total complete: 1272 out of 2025
Total complete: 1273 out of 2025
Total complete: 1274 out of 2025
Total complete: 1275 out of 2025
Total complete: 1276 out of 2025
Total complete: 1277 out of 2025
Total complete: 1278 out of 2025
Total complete: 1279 out of 2025

Total complete: 1280 out of 2025
Total complete: 1281 out of 2025
Total complete: 1282 out of 2025
Total complete: 1283 out of 2025
Total complete: 1284 out of 2025
Total complete: 1285 out of 2025
Total complete: 1286 out of 2025
Total complete: 1287 out of 2025
Total complete: 1288 out of 2025
Total complete: 1289 out of 2025
Total complete: 1290 out of 2025
Total complete: 1291 out of 2025
Total complete: 1292 out of 2025
Total complete: 1293 out of 2025
Total complete: 1294 out of 2025
Total complete: 1295 out of 2025
Total complete: 1296 out of 2025
Total complete: 1297 out of 2025
Total complete: 1298 out of 2025
Total complete: 1299 out of 2025
Total complete: 1300 out of 2025
Total complete: 1301 out of 2025
Total complete: 1302 out of 2025
Total complete: 1303 out of 2025
Total complete: 1304 out of 2025
Total complete: 1305 out of 2025
Total complete: 1306 out of 2025
Total complete: 1307 out of 2025
Total complete: 1308 out of 2025
Total complete: 1309 out of 2025
Total complete: 1310 out of 2025
Total complete: 1311 out of 2025
Total complete: 1312 out of 2025
Total complete: 1313 out of 2025
Total complete: 1314 out of 2025
Total complete: 1315 out of 2025
Total complete: 1316 out of 2025
Total complete: 1317 out of 2025
Total complete: 1318 out of 2025
Total complete: 1319 out of 2025
Total complete: 1320 out of 2025
Total complete: 1321 out of 2025
Total complete: 1322 out of 2025
Total complete: 1323 out of 2025
Total complete: 1324 out of 2025
Total complete: 1325 out of 2025
Total complete: 1326 out of 2025
Total complete: 1327 out of 2025
Total complete: 1328 out of 2025
Total complete: 1329 out of 2025
Total complete: 1330 out of 2025
Total complete: 1331 out of 2025
Total complete: 1332 out of 2025
Total complete: 1333 out of 2025
Total complete: 1334 out of 2025
Total complete: 1335 out of 2025
Total complete: 1336 out of 2025
Total complete: 1337 out of 2025
Total complete: 1338 out of 2025
Total complete: 1339 out of 2025
Total complete: 1340 out of 2025
Total complete: 1341 out of 2025
Total complete: 1342 out of 2025
Total complete: 1343 out of 2025
Total complete: 1344 out of 2025
Total complete: 1345 out of 2025
Total complete: 1346 out of 2025
Total complete: 1347 out of 2025
Total complete: 1348 out of 2025
Total complete: 1349 out of 2025
Total complete: 1350 out of 2025
Total complete: 1351 out of 2025
Total complete: 1352 out of 2025
Total complete: 1353 out of 2025
Total complete: 1354 out of 2025
Total complete: 1355 out of 2025
Total complete: 1356 out of 2025
Total complete: 1357 out of 2025
Total complete: 1358 out of 2025
Total complete: 1359 out of 2025
Total complete: 1360 out of 2025
Total complete: 1361 out of 2025
Total complete: 1362 out of 2025
Total complete: 1363 out of 2025
Total complete: 1364 out of 2025
Total complete: 1365 out of 2025
Total complete: 1366 out of 2025
Total complete: 1367 out of 2025
Total complete: 1368 out of 2025
Total complete: 1369 out of 2025
Total complete: 1370 out of 2025
Total complete: 1371 out of 2025
Total complete: 1372 out of 2025
Total complete: 1373 out of 2025
Total complete: 1374 out of 2025
Total complete: 1375 out of 2025
Total complete: 1376 out of 2025
Total complete: 1377 out of 2025
Total complete: 1378 out of 2025
Total complete: 1379 out of 2025
Total complete: 1380 out of 2025
Total complete: 1381 out of 2025
Total complete: 1382 out of 2025
Total complete: 1383 out of 2025
Total complete: 1384 out of 2025
Total complete: 1385 out of 2025
Total complete: 1386 out of 2025
Total complete: 1387 out of 2025
Total complete: 1388 out of 2025
Total complete: 1389 out of 2025
Total complete: 1390 out of 2025
Total complete: 1391 out of 2025
Total complete: 1392 out of 2025
Total complete: 1393 out of 2025
Total complete: 1394 out of 2025
Total complete: 1395 out of 2025
Total complete: 1396 out of 2025
Total complete: 1397 out of 2025
Total complete: 1398 out of 2025
Total complete: 1399 out of 2025
Total complete: 1400 out of 2025
Total complete: 1401 out of 2025
Total complete: 1402 out of 2025
Total complete: 1403 out of 2025
Total complete: 1404 out of 2025
Total complete: 1405 out of 2025
Total complete: 1406 out of 2025
Total complete: 1407 out of 2025
Total complete: 1408 out of 2025
Total complete: 1409 out of 2025
Total complete: 1410 out of 2025
Total complete: 1411 out of 2025
Total complete: 1412 out of 2025
Total complete: 1413 out of 2025
Total complete: 1414 out of 2025
Total complete: 1415 out of 2025
Total complete: 1416 out of 2025
Total complete: 1417 out of 2025
Total complete: 1418 out of 2025
Total complete: 1419 out of 2025
Total complete: 1420 out of 2025
Total complete: 1421 out of 2025
Total complete: 1422 out of 2025
Total complete: 1423 out of 2025
Total complete: 1424 out of 2025
Total complete: 1425 out of 2025
Total complete: 1426 out of 2025
Total complete: 1427 out of 2025
Total complete: 1428 out of 2025
Total complete: 1429 out of 2025
Total complete: 1430 out of 2025
Total complete: 1431 out of 2025
Total complete: 1432 out of 2025
Total complete: 1433 out of 2025
Total complete: 1434 out of 2025
Total complete: 1435 out of 2025
Total complete: 1436 out of 2025
Total complete: 1437 out of 2025
Total complete: 1438 out of 2025
Total complete: 1439 out of 2025
Total complete: 1440 out of 2025
Total complete: 1441 out of 2025
Total complete: 1442 out of 2025
Total complete: 1443 out of 2025
Total complete: 1444 out of 2025
Total complete: 1445 out of 2025
Total complete: 1446 out of 2025
Total complete: 1447 out of 2025
Total complete: 1448 out of 2025
Total complete: 1449 out of 2025
Total complete: 1450 out of 2025
Total complete: 1451 out of 2025
Total complete: 1452 out of 2025
Total complete: 1453 out of 2025
Total complete: 1454 out of 2025
Total complete: 1455 out of 2025
Total complete: 1456 out of 2025
Total complete: 1457 out of 2025
Total complete: 1458 out of 2025
Total complete: 1459 out of 2025
Total complete: 1460 out of 2025
Total complete: 1461 out of 2025
Total complete: 1462 out of 2025
Total complete: 1463 out of 2025
Total complete: 1464 out of 2025
Total complete: 1465 out of 2025
Total complete: 1466 out of 2025
Total complete: 1467 out of 2025
Total complete: 1468 out of 2025
Total complete: 1469 out of 2025
Total complete: 1470 out of 2025
Total complete: 1471 out of 2025
Total complete: 1472 out of 2025
Total complete: 1473 out of 2025
Total complete: 1474 out of 2025
Total complete: 1475 out of 2025
Total complete: 1476 out of 2025
Total complete: 1477 out of 2025
Total complete: 1478 out of 2025
Total complete: 1479 out of 2025
Total complete: 1480 out of 2025
Total complete: 1481 out of 2025
Total complete: 1482 out of 2025
Total complete: 1483 out of 2025
Total complete: 1484 out of 2025
Total complete: 1485 out of 2025
Total complete: 1486 out of 2025
Total complete: 1487 out of 2025
Total complete: 1488 out of 2025
Total complete: 1489 out of 2025
Total complete: 1490 out of 2025
Total complete: 1491 out of 2025
Total complete: 1492 out of 2025
Total complete: 1493 out of 2025
Total complete: 1494 out of 2025
Total complete: 1495 out of 2025
Total complete: 1496 out of 2025
Total complete: 1497 out of 2025
Total complete: 1498 out of 2025
Total complete: 1499 out of 2025
Total complete: 1500 out of 2025
Total complete: 1501 out of 2025
Total complete: 1502 out of 2025
Total complete: 1503 out of 2025
Total complete: 1504 out of 2025
Total complete: 1505 out of 2025
Total complete: 1506 out of 2025
Total complete: 1507 out of 2025
Total complete: 1508 out of 2025
Total complete: 1509 out of 2025
Total complete: 1510 out of 2025
Total complete: 1511 out of 2025
Total complete: 1512 out of 2025
Total complete: 1513 out of 2025
Total complete: 1514 out of 2025
Total complete: 1515 out of 2025
Total complete: 1516 out of 2025
Total complete: 1517 out of 2025
Total complete: 1518 out of 2025
Total complete: 1519 out of 2025
Total complete: 1520 out of 2025
Total complete: 1521 out of 2025
Total complete: 1522 out of 2025
Total complete: 1523 out of 2025
Total complete: 1524 out of 2025
Total complete: 1525 out of 2025
Total complete: 1526 out of 2025
Total complete: 1527 out of 2025
Total complete: 1528 out of 2025

Total complete: 1529 out of 2025
Total complete: 1530 out of 2025
Total complete: 1531 out of 2025
Total complete: 1532 out of 2025
Total complete: 1533 out of 2025
Total complete: 1534 out of 2025
Total complete: 1535 out of 2025
Total complete: 1536 out of 2025
Total complete: 1537 out of 2025
Total complete: 1538 out of 2025
Total complete: 1539 out of 2025
Total complete: 1540 out of 2025
Total complete: 1541 out of 2025
Total complete: 1542 out of 2025
Total complete: 1543 out of 2025
Total complete: 1544 out of 2025
Total complete: 1545 out of 2025
Total complete: 1546 out of 2025
Total complete: 1547 out of 2025
Total complete: 1548 out of 2025
Total complete: 1549 out of 2025
Total complete: 1550 out of 2025
Total complete: 1551 out of 2025
Total complete: 1552 out of 2025
Total complete: 1553 out of 2025
Total complete: 1554 out of 2025
Total complete: 1555 out of 2025
Total complete: 1556 out of 2025
Total complete: 1557 out of 2025
Total complete: 1558 out of 2025
Total complete: 1559 out of 2025
Total complete: 1560 out of 2025
Total complete: 1561 out of 2025
Total complete: 1562 out of 2025
Total complete: 1563 out of 2025
Total complete: 1564 out of 2025
Total complete: 1565 out of 2025
Total complete: 1566 out of 2025
Total complete: 1567 out of 2025
Total complete: 1568 out of 2025
Total complete: 1569 out of 2025
Total complete: 1570 out of 2025
Total complete: 1571 out of 2025
Total complete: 1572 out of 2025
Total complete: 1573 out of 2025
Total complete: 1574 out of 2025
Total complete: 1575 out of 2025
Total complete: 1576 out of 2025
Total complete: 1577 out of 2025
Total complete: 1578 out of 2025
Total complete: 1579 out of 2025
Total complete: 1580 out of 2025
Total complete: 1581 out of 2025
Total complete: 1582 out of 2025
Total complete: 1583 out of 2025
Total complete: 1584 out of 2025
Total complete: 1585 out of 2025
Total complete: 1586 out of 2025
Total complete: 1587 out of 2025
Total complete: 1588 out of 2025
Total complete: 1589 out of 2025
Total complete: 1590 out of 2025
Total complete: 1591 out of 2025
Total complete: 1592 out of 2025
Total complete: 1593 out of 2025
Total complete: 1594 out of 2025
Total complete: 1595 out of 2025
Total complete: 1596 out of 2025
Total complete: 1597 out of 2025
Total complete: 1598 out of 2025
Total complete: 1599 out of 2025
Total complete: 1600 out of 2025
Total complete: 1601 out of 2025
Total complete: 1602 out of 2025
Total complete: 1603 out of 2025
Total complete: 1604 out of 2025
Total complete: 1605 out of 2025
Total complete: 1606 out of 2025
Total complete: 1607 out of 2025
Total complete: 1608 out of 2025
Total complete: 1609 out of 2025
Total complete: 1610 out of 2025
Total complete: 1611 out of 2025
Total complete: 1612 out of 2025
Total complete: 1613 out of 2025
Total complete: 1614 out of 2025
Total complete: 1615 out of 2025
Total complete: 1616 out of 2025
Total complete: 1617 out of 2025
Total complete: 1618 out of 2025
Total complete: 1619 out of 2025
Total complete: 1620 out of 2025
Total complete: 1621 out of 2025
Total complete: 1622 out of 2025
Total complete: 1623 out of 2025
Total complete: 1624 out of 2025
Total complete: 1625 out of 2025
Total complete: 1626 out of 2025
Total complete: 1627 out of 2025
Total complete: 1628 out of 2025
Total complete: 1629 out of 2025
Total complete: 1630 out of 2025
Total complete: 1631 out of 2025
Total complete: 1632 out of 2025
Total complete: 1633 out of 2025
Total complete: 1634 out of 2025
Total complete: 1635 out of 2025
Total complete: 1636 out of 2025
Total complete: 1637 out of 2025
Total complete: 1638 out of 2025
Total complete: 1639 out of 2025
Total complete: 1640 out of 2025
Total complete: 1641 out of 2025
Total complete: 1642 out of 2025
Total complete: 1643 out of 2025
Total complete: 1644 out of 2025
Total complete: 1645 out of 2025
Total complete: 1646 out of 2025
Total complete: 1647 out of 2025
Total complete: 1648 out of 2025
Total complete: 1649 out of 2025
Total complete: 1650 out of 2025
Total complete: 1651 out of 2025
Total complete: 1652 out of 2025
Total complete: 1653 out of 2025
Total complete: 1654 out of 2025
Total complete: 1655 out of 2025
Total complete: 1656 out of 2025
Total complete: 1657 out of 2025
Total complete: 1658 out of 2025
Total complete: 1659 out of 2025
Total complete: 1660 out of 2025
Total complete: 1661 out of 2025
Total complete: 1662 out of 2025
Total complete: 1663 out of 2025
Total complete: 1664 out of 2025
Total complete: 1665 out of 2025
Total complete: 1666 out of 2025
Total complete: 1667 out of 2025
Total complete: 1668 out of 2025
Total complete: 1669 out of 2025
Total complete: 1670 out of 2025
Total complete: 1671 out of 2025
Total complete: 1672 out of 2025
Total complete: 1673 out of 2025
Total complete: 1674 out of 2025
Total complete: 1675 out of 2025
Total complete: 1676 out of 2025
Total complete: 1677 out of 2025
Total complete: 1678 out of 2025
Total complete: 1679 out of 2025
Total complete: 1680 out of 2025
Total complete: 1681 out of 2025
Total complete: 1682 out of 2025
Total complete: 1683 out of 2025
Total complete: 1684 out of 2025
Total complete: 1685 out of 2025
Total complete: 1686 out of 2025
Total complete: 1687 out of 2025
Total complete: 1688 out of 2025
Total complete: 1689 out of 2025
Total complete: 1690 out of 2025
Total complete: 1691 out of 2025
Total complete: 1692 out of 2025
Total complete: 1693 out of 2025
Total complete: 1694 out of 2025
Total complete: 1695 out of 2025
Total complete: 1696 out of 2025
Total complete: 1697 out of 2025
Total complete: 1698 out of 2025
Total complete: 1699 out of 2025
Total complete: 1700 out of 2025
Total complete: 1701 out of 2025
Total complete: 1702 out of 2025
Total complete: 1703 out of 2025
Total complete: 1704 out of 2025
Total complete: 1705 out of 2025
Total complete: 1706 out of 2025
Total complete: 1707 out of 2025
Total complete: 1708 out of 2025
Total complete: 1709 out of 2025
Total complete: 1710 out of 2025
Total complete: 1711 out of 2025
Total complete: 1712 out of 2025
Total complete: 1713 out of 2025
Total complete: 1714 out of 2025
Total complete: 1715 out of 2025
Total complete: 1716 out of 2025
Total complete: 1717 out of 2025
Total complete: 1718 out of 2025
Total complete: 1719 out of 2025
Total complete: 1720 out of 2025
Total complete: 1721 out of 2025
Total complete: 1722 out of 2025
Total complete: 1723 out of 2025
Total complete: 1724 out of 2025
Total complete: 1725 out of 2025
Total complete: 1726 out of 2025
Total complete: 1727 out of 2025
Total complete: 1728 out of 2025
Total complete: 1729 out of 2025
Total complete: 1730 out of 2025
Total complete: 1731 out of 2025
Total complete: 1732 out of 2025
Total complete: 1733 out of 2025
Total complete: 1734 out of 2025
Total complete: 1735 out of 2025
Total complete: 1736 out of 2025
Total complete: 1737 out of 2025
Total complete: 1738 out of 2025
Total complete: 1739 out of 2025
Total complete: 1740 out of 2025
Total complete: 1741 out of 2025
Total complete: 1742 out of 2025
Total complete: 1743 out of 2025
Total complete: 1744 out of 2025
Total complete: 1745 out of 2025
Total complete: 1746 out of 2025
Total complete: 1747 out of 2025
Total complete: 1748 out of 2025
Total complete: 1749 out of 2025
Total complete: 1750 out of 2025
Total complete: 1751 out of 2025
Total complete: 1752 out of 2025
Total complete: 1753 out of 2025
Total complete: 1754 out of 2025
Total complete: 1755 out of 2025
Total complete: 1756 out of 2025
Total complete: 1757 out of 2025
Total complete: 1758 out of 2025
Total complete: 1759 out of 2025
Total complete: 1760 out of 2025
Total complete: 1761 out of 2025
Total complete: 1762 out of 2025
Total complete: 1763 out of 2025
Total complete: 1764 out of 2025
Total complete: 1765 out of 2025
Total complete: 1766 out of 2025
Total complete: 1767 out of 2025
Total complete: 1768 out of 2025
Total complete: 1769 out of 2025
Total complete: 1770 out of 2025
Total complete: 1771 out of 2025
Total complete: 1772 out of 2025
Total complete: 1773 out of 2025
Total complete: 1774 out of 2025
Total complete: 1775 out of 2025
Total complete: 1776 out of 2025
Total complete: 1777 out of 2025

Total complete: 1778 out of 2025
Total complete: 1779 out of 2025
Total complete: 1780 out of 2025
Total complete: 1781 out of 2025
Total complete: 1782 out of 2025
Total complete: 1783 out of 2025
Total complete: 1784 out of 2025
Total complete: 1785 out of 2025
Total complete: 1786 out of 2025
Total complete: 1787 out of 2025
Total complete: 1788 out of 2025
Total complete: 1789 out of 2025
Total complete: 1790 out of 2025
Total complete: 1791 out of 2025
Total complete: 1792 out of 2025
Total complete: 1793 out of 2025
Total complete: 1794 out of 2025
Total complete: 1795 out of 2025
Total complete: 1796 out of 2025
Total complete: 1797 out of 2025
Total complete: 1798 out of 2025
Total complete: 1799 out of 2025
Total complete: 1800 out of 2025
Total complete: 1801 out of 2025
Total complete: 1802 out of 2025
Total complete: 1803 out of 2025
Total complete: 1804 out of 2025
Total complete: 1805 out of 2025
Total complete: 1806 out of 2025
Total complete: 1807 out of 2025
Total complete: 1808 out of 2025
Total complete: 1809 out of 2025
Total complete: 1810 out of 2025
Total complete: 1811 out of 2025
Total complete: 1812 out of 2025
Total complete: 1813 out of 2025
Total complete: 1814 out of 2025
Total complete: 1815 out of 2025
Total complete: 1816 out of 2025
Total complete: 1817 out of 2025
Total complete: 1818 out of 2025
Total complete: 1819 out of 2025
Total complete: 1820 out of 2025
Total complete: 1821 out of 2025
Total complete: 1822 out of 2025
Total complete: 1823 out of 2025
Total complete: 1824 out of 2025
Total complete: 1825 out of 2025
Total complete: 1826 out of 2025
Total complete: 1827 out of 2025
Total complete: 1828 out of 2025
Total complete: 1829 out of 2025
Total complete: 1830 out of 2025
Total complete: 1831 out of 2025
Total complete: 1832 out of 2025
Total complete: 1833 out of 2025
Total complete: 1834 out of 2025
Total complete: 1835 out of 2025
Total complete: 1836 out of 2025
Total complete: 1837 out of 2025
Total complete: 1838 out of 2025
Total complete: 1839 out of 2025
Total complete: 1840 out of 2025
Total complete: 1841 out of 2025
Total complete: 1842 out of 2025
Total complete: 1843 out of 2025
Total complete: 1844 out of 2025
Total complete: 1845 out of 2025
Total complete: 1846 out of 2025
Total complete: 1847 out of 2025
Total complete: 1848 out of 2025
Total complete: 1849 out of 2025
Total complete: 1850 out of 2025
Total complete: 1851 out of 2025
Total complete: 1852 out of 2025
Total complete: 1853 out of 2025
Total complete: 1854 out of 2025
Total complete: 1855 out of 2025
Total complete: 1856 out of 2025
Total complete: 1857 out of 2025
Total complete: 1858 out of 2025
Total complete: 1859 out of 2025
Total complete: 1860 out of 2025
Total complete: 1861 out of 2025
Total complete: 1862 out of 2025
Total complete: 1863 out of 2025
Total complete: 1864 out of 2025
Total complete: 1865 out of 2025
Total complete: 1866 out of 2025
Total complete: 1867 out of 2025
Total complete: 1868 out of 2025
Total complete: 1869 out of 2025
Total complete: 1870 out of 2025
Total complete: 1871 out of 2025
Total complete: 1872 out of 2025
Total complete: 1873 out of 2025
Total complete: 1874 out of 2025
Total complete: 1875 out of 2025
Total complete: 1876 out of 2025
Total complete: 1877 out of 2025
Total complete: 1878 out of 2025
Total complete: 1879 out of 2025
Total complete: 1880 out of 2025
Total complete: 1881 out of 2025
Total complete: 1882 out of 2025
Total complete: 1883 out of 2025
Total complete: 1884 out of 2025
Total complete: 1885 out of 2025
Total complete: 1886 out of 2025
Total complete: 1887 out of 2025
Total complete: 1888 out of 2025
Total complete: 1889 out of 2025
Total complete: 1890 out of 2025
Total complete: 1891 out of 2025
Total complete: 1892 out of 2025
Total complete: 1893 out of 2025
Total complete: 1894 out of 2025
Total complete: 1895 out of 2025
Total complete: 1896 out of 2025
Total complete: 1897 out of 2025
Total complete: 1898 out of 2025
Total complete: 1899 out of 2025
Total complete: 1900 out of 2025
Total complete: 1901 out of 2025
Total complete: 1902 out of 2025
Total complete: 1903 out of 2025
Total complete: 1904 out of 2025
Total complete: 1905 out of 2025
Total complete: 1906 out of 2025
Total complete: 1907 out of 2025
Total complete: 1908 out of 2025
Total complete: 1909 out of 2025
Total complete: 1910 out of 2025
Total complete: 1911 out of 2025
Total complete: 1912 out of 2025
Total complete: 1913 out of 2025
Total complete: 1914 out of 2025
Total complete: 1915 out of 2025
Total complete: 1916 out of 2025
Total complete: 1917 out of 2025
Total complete: 1918 out of 2025
Total complete: 1919 out of 2025
Total complete: 1920 out of 2025
Total complete: 1921 out of 2025
Total complete: 1922 out of 2025
Total complete: 1923 out of 2025
Total complete: 1924 out of 2025
Total complete: 1925 out of 2025
Total complete: 1926 out of 2025
Total complete: 1927 out of 2025
Total complete: 1928 out of 2025
Total complete: 1929 out of 2025
Total complete: 1930 out of 2025
Total complete: 1931 out of 2025
Total complete: 1932 out of 2025
Total complete: 1933 out of 2025
Total complete: 1934 out of 2025
Total complete: 1935 out of 2025
Total complete: 1936 out of 2025
Total complete: 1937 out of 2025
Total complete: 1938 out of 2025
Total complete: 1939 out of 2025
Total complete: 1940 out of 2025
Total complete: 1941 out of 2025
Total complete: 1942 out of 2025
Total complete: 1943 out of 2025
Total complete: 1944 out of 2025
Total complete: 1945 out of 2025
Total complete: 1946 out of 2025
Total complete: 1947 out of 2025
Total complete: 1948 out of 2025
Total complete: 1949 out of 2025
Total complete: 1950 out of 2025
Total complete: 1951 out of 2025
Total complete: 1952 out of 2025
Total complete: 1953 out of 2025
Total complete: 1954 out of 2025
Total complete: 1955 out of 2025
Total complete: 1956 out of 2025
Total complete: 1957 out of 2025
Total complete: 1958 out of 2025
Total complete: 1959 out of 2025
Total complete: 1960 out of 2025
Total complete: 1961 out of 2025
Total complete: 1962 out of 2025
Total complete: 1963 out of 2025
Total complete: 1964 out of 2025
Total complete: 1965 out of 2025
Total complete: 1966 out of 2025
Total complete: 1967 out of 2025
Total complete: 1968 out of 2025
Total complete: 1969 out of 2025
Total complete: 1970 out of 2025
Total complete: 1971 out of 2025
Total complete: 1972 out of 2025
Total complete: 1973 out of 2025
Total complete: 1974 out of 2025
Total complete: 1975 out of 2025
Total complete: 1976 out of 2025
Total complete: 1977 out of 2025
Total complete: 1978 out of 2025
Total complete: 1979 out of 2025
Total complete: 1980 out of 2025
Total complete: 1981 out of 2025
Total complete: 1982 out of 2025
Total complete: 1983 out of 2025
Total complete: 1984 out of 2025
Total complete: 1985 out of 2025
Total complete: 1986 out of 2025
Total complete: 1987 out of 2025
Total complete: 1988 out of 2025
Total complete: 1989 out of 2025
Total complete: 1990 out of 2025
Total complete: 1991 out of 2025
Total complete: 1992 out of 2025
Total complete: 1993 out of 2025
Total complete: 1994 out of 2025
Total complete: 1995 out of 2025
Total complete: 1996 out of 2025
Total complete: 1997 out of 2025
Total complete: 1998 out of 2025
Total complete: 1999 out of 2025
Total complete: 2000 out of 2025
Total complete: 2001 out of 2025
Total complete: 2002 out of 2025
Total complete: 2003 out of 2025
Total complete: 2004 out of 2025
Total complete: 2005 out of 2025
Total complete: 2006 out of 2025
Total complete: 2007 out of 2025
Total complete: 2008 out of 2025
Total complete: 2009 out of 2025
Total complete: 2010 out of 2025
Total complete: 2011 out of 2025
Total complete: 2012 out of 2025
Total complete: 2013 out of 2025
Total complete: 2014 out of 2025
Total complete: 2015 out of 2025
Total complete: 2016 out of 2025
Total complete: 2017 out of 2025
Total complete: 2018 out of 2025
Total complete: 2019 out of 2025
Total complete: 2020 out of 2025
Total complete: 2021 out of 2025
Total complete: 2022 out of 2025
Total complete: 2023 out of 2025
Total complete: 2024 out of 2025
Total complete: 2025 out of 2025

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other
0,"Rockland County, New York",2,4,2,0,0,0,0,0,0,0,0,0,0
1,"Lee County, North Carolina",8,0,0,0,0,0,0,0,0,0,0,0,0
2,"Yadkin County, North Carolina",4,0,0,0,0,0,0,0,0,0,0,0,0
3,"Mercer County, New Jersey",13,5,0,0,0,0,0,1,0,0,0,0,0
4,"Norfolk County, Massachusetts",14,7,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,"Yankton County, South Dakota",0,1,0,0,0,0,0,0,0,0,0,0,0
2021,"Coweta County, Georgia",0,1,0,0,0,0,0,0,0,0,0,0,0
2022,"Stephens County, Georgia",0,0,0,1,0,0,0,0,0,0,0,0,0
2023,"York County, Virginia",0,0,1,0,0,0,0,0,0,0,0,0,0
2024,"Marshall County, Indiana",0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
#Turn all the lists into one dataframe
powerplants_by_county_df = pd.DataFrame({
    "County": counties,
    "num_solar": total_solar,
    "num_gas": total_gas,
    "num_oil": total_oil,
    "num_hydro": total_hydro,
    "num_wind": total_wind,
    "num_coal": total_coal,
    "num_biomass": total_biomass,
    "num_storage" : total_storage,
    "num_cogeneration" : total_cogeneration,
    "num_geothermal" : total_geothermal,
    "num_petcoke" : total_petcoke,
    "num_nuclear" : total_nuclear, 
    "num_other" : total_other
})
powerplants_by_county_df

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other
0,"Rockland County, New York",2,4,2,0,0,0,0,0,0,0,0,0,0
1,"Lee County, North Carolina",8,0,0,0,0,0,0,0,0,0,0,0,0
2,"Yadkin County, North Carolina",4,0,0,0,0,0,0,0,0,0,0,0,0
3,"Mercer County, New Jersey",13,5,0,0,0,0,0,1,0,0,0,0,0
4,"Norfolk County, Massachusetts",14,7,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,"Yankton County, South Dakota",0,1,0,0,0,0,0,0,0,0,0,0,0
2021,"Coweta County, Georgia",0,1,0,0,0,0,0,0,0,0,0,0,0
2022,"Stephens County, Georgia",0,0,0,1,0,0,0,0,0,0,0,0,0
2023,"York County, Virginia",0,0,1,0,0,0,0,0,0,0,0,0,0
2024,"Marshall County, Indiana",0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
#Then publish the  dataframe to a csv file to be analyzed later
powerplants_by_county_df.to_csv("../Output/powerplants_by_county.csv")

In [73]:
#Read the csv
income_data = "../Resources/2017_median_income_by_county.csv"
income_data_df = pd.read_csv(income_data, encoding="ISO-8859-1")
income_data_df

,Geography,County,State,Total Households,Median Income
0,0500000US01003,Baldwin County,Alabama,79120,55342
1,0500000US01015,Calhoun County,Alabama,44507,46763
2,0500000US01043,Cullman County,Alabama,30740,45044
3,0500000US01049,DeKalb County,Alabama,25848,39373
4,0500000US01051,Elmore County,Alabama,29176,60558
...,...,...,...,...,...
832,0500000US72113,Ponce Municipio,Puerto Rico,50225,16270
833,0500000US72127,San Juan Municipio,Puerto Rico,140153,21912
834,0500000US72135,Toa Alta Municipio,Puerto Rico,21640,24223
835,0500000US72137,Toa Baja Municipio,Puerto Rico,27841,25487
836,0500000US72139,Trujillo Alto Municipio,Puerto Rico,23564,31322

In [74]:
#Create a column for county and state together
income_data_df = income_data_df[["County", "State", "Total Households", "Median Income"]]
income_data_df["county, state"]= income_data_df["County"] + ',' + income_data_df["State"]
income_data_df

,County,State,Total Households,Median Income,"county, state"
0,Baldwin County,Alabama,79120,55342,"Baldwin County, Alabama"
1,Calhoun County,Alabama,44507,46763,"Calhoun County, Alabama"
2,Cullman County,Alabama,30740,45044,"Cullman County, Alabama"
3,DeKalb County,Alabama,25848,39373,"DeKalb County, Alabama"
4,Elmore County,Alabama,29176,60558,"Elmore County, Alabama"
...,...,...,...,...,...
832,Ponce Municipio,Puerto Rico,50225,16270,"Ponce Municipio, Puerto Rico"
833,San Juan Municipio,Puerto Rico,140153,21912,"San Juan Municipio, Puerto Rico"
834,Toa Alta Municipio,Puerto Rico,21640,24223,"Toa Alta Municipio, Puerto Rico"
835,Toa Baja Municipio,Puerto Rico,27841,25487,"Toa Baja Municipio, Puerto Rico"
836,Trujillo Alto Municipio,Puerto Rico,23564,31322,"Trujillo Alto Municipio, Puerto Rico"

In [75]:
#Rename the columns for the merge later on
income_data_df.rename(columns={"County": "County (No state)", "county, state": "County"}, inplace=True)
income_data_df

,County (No state),State,Total Households,Median Income,County
0,Baldwin County,Alabama,79120,55342,"Baldwin County, Alabama"
1,Calhoun County,Alabama,44507,46763,"Calhoun County, Alabama"
2,Cullman County,Alabama,30740,45044,"Cullman County, Alabama"
3,DeKalb County,Alabama,25848,39373,"DeKalb County, Alabama"
4,Elmore County,Alabama,29176,60558,"Elmore County, Alabama"
...,...,...,...,...,...
832,Ponce Municipio,Puerto Rico,50225,16270,"Ponce Municipio, Puerto Rico"
833,San Juan Municipio,Puerto Rico,140153,21912,"San Juan Municipio, Puerto Rico"
834,Toa Alta Municipio,Puerto Rico,21640,24223,"Toa Alta Municipio, Puerto Rico"
835,Toa Baja Municipio,Puerto Rico,27841,25487,"Toa Baja Municipio, Puerto Rico"
836,Trujillo Alto Municipio,Puerto Rico,23564,31322,"Trujillo Alto Municipio, Puerto Rico"

In [76]:
#Get only the important columns
income_data_df = income_data_df[["County", "Total Households", "Median Income"]]
income_data_df

                                   County  Total Households  Median Income
0                 Baldwin County, Alabama             79120          55342
1                 Calhoun County, Alabama             44507          46763
2                 Cullman County, Alabama             30740          45044
3                  DeKalb County, Alabama             25848          39373
4                  Elmore County, Alabama             29176          60558
..                                    ...               ...            ...
832          Ponce Municipio, Puerto Rico             50225          16270
833       San Juan Municipio, Puerto Rico            140153          21912
834       Toa Alta Municipio, Puerto Rico             21640          24223
835       Toa Baja Municipio, Puerto Rico             27841          25487
836  Trujillo Alto Municipio, Puerto Rico             23564          31322

[837 rows x 3 columns]

In [77]:
#Merge both dataframes together
total_data_df = pd.merge(powerplants_by_county_df, income_data_df, on="County", how="outer")

total_data_df

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other,Total Households,Median Income
0,"Rockland County, New York",2.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100167.0,88726.0
1,"Lee County, North Carolina",8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,"Yadkin County, North Carolina",4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,"Mercer County, New Jersey",13.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,128757.0,79173.0
4,"Norfolk County, Massachusetts",14.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,263862.0,100829.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50225.0,16270.0
2172,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140153.0,21912.0
2173,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21640.0,24223.0
2174,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27841.0,25487.0
2175,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23564.0,31322.0

In [85]:
#Only keep rows where the median income is not "N/A"
total_data_clean_df = total_data_df[total_data_df['Median Income'].notna()].reset_index(drop=True)
total_data_clean_df

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other,Total Households,Median Income
0,"Rockland County, New York",2.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100167.0,88726.0
1,"Mercer County, New Jersey",13.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,128757.0,79173.0
2,"Norfolk County, Massachusetts",14.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,263862.0,100829.0
3,"Los Angeles County, California",113.0,49.0,2.0,19.0,1.0,0.0,3.0,5.0,4.0,0.0,0.0,0.0,0.0,3311231.0,65006.0
4,"Middlesex County, New Jersey",41.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285446.0,85337.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50225.0,16270.0
833,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140153.0,21912.0
834,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21640.0,24223.0
835,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27841.0,25487.0
836,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23564.0,31322.0

In [86]:
#Create a column to store the total number of powerplants
total_data_clean_df["Total Powerplants"] = (total_data_clean_df["num_solar"] +
                                            total_data_clean_df["num_gas"] +
                                            total_data_clean_df["num_oil"] +
                                            total_data_clean_df["num_hydro"] +
                                            total_data_clean_df["num_wind"] +
                                            total_data_clean_df["num_coal"] +
                                            total_data_clean_df["num_biomass"] +
                                            total_data_clean_df["num_storage"] +
                                            total_data_clean_df["num_cogeneration"] +
                                            total_data_clean_df["num_geothermal"] +
                                            total_data_clean_df["num_petcoke"] +
                                            total_data_clean_df["num_nuclear"] +
                                            total_data_clean_df["num_other"])
total_data_clean_df

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other,Total Households,Median Income,Total Powerplants
0,"Rockland County, New York",2.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100167.0,88726.0,8.0
1,"Mercer County, New Jersey",13.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,128757.0,79173.0,19.0
2,"Norfolk County, Massachusetts",14.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,263862.0,100829.0,23.0
3,"Los Angeles County, California",113.0,49.0,2.0,19.0,1.0,0.0,3.0,5.0,4.0,0.0,0.0,0.0,0.0,3311231.0,65006.0,196.0
4,"Middlesex County, New Jersey",41.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285446.0,85337.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50225.0,16270.0,NaN
833,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140153.0,21912.0,NaN
834,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21640.0,24223.0,NaN
835,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27841.0,25487.0,NaN
836,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23564.0,31322.0,NaN

In [87]:
#Drop any rows where the total number of powerplants is "N/A" (this doesn't remove any 0s)
powerplants_and_income_df = total_data_clean_df[total_data_clean_df['Total Powerplants'].notna()]
powerplants_and_income_df

,County,num_solar,num_gas,num_oil,num_hydro,num_wind,num_coal,num_biomass,num_storage,num_cogeneration,num_geothermal,num_petcoke,num_nuclear,num_other,Total Households,Median Income,Total Powerplants
0,"Rockland County, New York",2.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100167.0,88726.0,8.0
1,"Mercer County, New Jersey",13.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,128757.0,79173.0,19.0
2,"Norfolk County, Massachusetts",14.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,263862.0,100829.0,23.0
3,"Los Angeles County, California",113.0,49.0,2.0,19.0,1.0,0.0,3.0,5.0,4.0,0.0,0.0,0.0,0.0,3311231.0,65006.0,196.0
4,"Middlesex County, New Jersey",41.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285446.0,85337.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,"Collier County, Florida",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,144354.0,66048.0,0.0
682,"Shawnee County, Kansas",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73724.0,57095.0,0.0
683,"Putnam County, New York",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34549.0,99479.0,1.0
684,"Coweta County, Georgia",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52796.0,72787.0,1.0
685,"York County, Virginia",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25294.0,83993.0,1.0

In [88]:
#Save it to a csv file
powerplants_and_income_df.to_csv("../Output/powerplants_and_income_by_county.csv")